node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
auth_info_baileys/
session/
sessions/
Session/
message_data/
*.log
.replit
replit.md
.config/
.cache/
.local/
.upm/
snippets/
package-lock.json
.breakpoints
generated-icon.png